@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.cont {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
 }
section {
    height: 100vh;
  }

.home {
  background-image: url("./assets/Web\ 1366\ –\ 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.hello {
  color: #B35C49;
  position: absolute;
  z-index: 2;
  font-size: 226px;
  font-weight: 700;
  margin-left: 28px;
}
.container {
  margin-left: 17px;
  position: absolute;
  margin-top: 257px;
  z-index: 3;
}
.options {
  font-size: 30px;
  font-family: "Raleway";
  background: none;
  color: #C45C4C !important;
  font-weight: 500;
margin-bottom: 10px;
border: none;
}


.container .options:before {
  content: "";
  display: inherit;
  vertical-align: bottom;
  width: 51%;
  margin-right: -78%;
  margin-left: 27px;
  border-top: 5px solid #C45C4C;
  margin-top: 11px;
}
.box {
  position: relative;
  float: right;
  width: 66%;
  height: 93%;
  position: absolute;
  z-index: 1;
  margin-left: 30%;
  margin-top: 20px;
}
.name {
  color: #925946;
  text-align: justify;
  margin-left: 354px;
  margin-top: 195px;
  font-size: 120px;
  line-height: 120px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  letter-spacing: 7px;  
}
.fe-text {
  font-size: 35px;
  background: #f6d1b7;
  width: 47%;
  border-radius: 10px;
  text-align: center;
  margin-left: 350px;
  margin-top: -6px;
  color: #9A6341;
  font-weight: 700;
}

.projects {
  height: 100vh;
  display: block;
  background-color: #F4ECE4
}


h1 {
  color: #B35C49;
  font-size: 60px;
  margin-left: 45px;
  font-family: "Open Sans";
  font-weight: 900
}

.pokedex{
  width: 47%;
    height: 57%;
    margin-left: 27%;
}

.nav-item .options::after {
  content: "";
  display: inherit;
  vertical-align: bottom;
  width: 30%;
  border-top: 5px solid #C45C4C;
  margin-top: 5px;
}

.about-me {
  background-image: url("http://i66.tinypic.com/29fazxe.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.about-karen p {
  margin-left: 3%;
  font-size: 30px;
  color: #925946; 
  font-weight: 450
}